<header>
    page header


    <ul>
        <% if (locals.user) {%>
            <li>
                 <a href="/user/profile">
           <%=user.name %> </a> 
        </li>
           <li> 
               <a href="/user/sign-out">sign out</a>
           </li>

        <% }else{ %>
            <li> 
                <a href="/user/sign-out">sign in</a>
            </li>
            <li>
                <li> 
                    <a href="/user/sign-out">sign up</a>
                </li>
            </li>
        <%}%>
        <li></li>
    </ul>
</header>